In [1]:
import pandas as pd

In [12]:
competitions = pd.read_json('/Users/sandernordeide/ext_repos/open-data/data/competitions.json')
import os
for _, subDirList, fileList in os.walk('/Users/sandernordeide/ext_repos/open-data/data/matches'):
    for subDir in subDirList:
        for _, subsubDirList in os.walk('/Users/sandernordeide/ext_repos/open-data/data/matches/' + subDir):

.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store

In [3]:
df.head()

,competition_gender,competition_id,competition_name,country_name,match_available,match_updated,season_id,season_name
0,male,16,Champions League,Europe,2020-07-29T05:00,2020-07-29T05:00,4,2018/2019
1,male,16,Champions League,Europe,2020-07-29T05:00,2020-07-29T05:00,1,2017/2018
2,male,16,Champions League,Europe,2020-07-29T05:00,2020-08-26T12:33:15.869622,2,2016/2017
3,male,16,Champions League,Europe,2020-07-29T05:00,2020-08-26T12:33:15.869622,27,2015/2016
4,male,16,Champions League,Europe,2020-07-29T05:00,2020-08-26T12:33:15.869622,26,2014/2015