In [2]:
import pandas as pd

In [3]:
competitions = pd.read_json('data/competitions.json')
wanted_competitions = [37, 49]

competition_season_pairs = []
for competition_id in wanted_competitions:
    for season_id in competitions[competitions['competition_id'] == competition_id]['season_id']:
        competition_season_pairs.append((competition_id, season_id))

In [7]:
import os 
origin_path = os.getcwd()

for cs_pair in competition_season_pairs: # cs_pair is pairs of (competition_id, season_id)
    cid = cs_pair[0] # competition id
    sid = cs_pair[1] # season id
    exec(f"competition{cid}_season{sid}_matches = pd.read_json('data/matches/{cid}/{sid}.json')")

In [23]:
events = {}
for mid in competition37_season42_matches['match_id']: # mid is match id
    exec(f"events[{mid}] = pd.read_json('data/events/{mid}.json')")

In [86]:
shot_events = pd.DataFrame()
for mid in events.keys(): #mid is match id
    temp_column = events[mid]["type"].apply(pd.Series)
    match_shot_indices = temp_column[temp_column.name == "Shot"].index
    match_shots = events[mid].iloc[match_shot_indices,:]
    if shot_events.empty:
        shot_events = match_shots
    else:
        shot_events = shot_events.append(match_shots, ignore_index=True)

In [111]:
for column in shot_events.columns:
    temp_column = shot_events[f"{column}"].apply(pd.Series)
    if f"{column}" == "shot":
        print(temp_column.head())

#temp_column = shot_events["type"].apply(pd.Series)
#shot_events.head()

  one_on_one  statsbomb_xg        end_location  \
0       True      0.188629  [120.0, 28.1, 0.2]
1        NaN      0.007220  [117.8, 42.1, 0.2]
2        NaN      0.120339  [120.0, 38.6, 4.9]
3        NaN      0.370383  [120.0, 45.1, 0.2]
4        NaN      0.011415  [120.0, 45.0, 4.5]

                            key_pass_id                     technique  \
0  a4a1c64d-7b27-4e34-a425-8f36f065edbc  {'id': 93, 'name': 'Normal'}
1                                   NaN  {'id': 93, 'name': 'Normal'}
2  2b292e0f-8483-4df3-b79b-a6070f3f413b  {'id': 93, 'name': 'Normal'}
3  38495173-1ce8-4103-8366-30bfe9f6b5b7  {'id': 93, 'name': 'Normal'}
4  1e9d1e70-03ac-4aa3-a59c-1851dacea7ac  {'id': 93, 'name': 'Normal'}

                          body_part                             type  \
0  {'id': 40, 'name': 'Right Foot'}  {'id': 87, 'name': 'Open Play'}
1  {'id': 40, 'name': 'Right Foot'}  {'id': 87, 'name': 'Open Play'}
2        {'id': 37, 'name': 'Head'}  {'id': 87, 'name': 'Open Play'}
3   {'id': 38, 'name': 'Left Foot'}  {'id': 87, 'name': 'Open Play'}
4   {'id': 38, 'name': 'Left Foot'}  {'id': 87, 'name': 'Open Play'}

                        outcome  \
0   {'id': 98, 'name': 'Off T'}
1  {'id': 100, 'name': 'Saved'}
2   {'id': 98, 'name': 'Off T'}
3   {'id': 98, 'name': 'Off T'}
4   {'id': 98, 'name': 'Off T'}

                                        freeze_frame follows_dribble  \
0  [{'location': [115.9, 42.7], 'player': {'id': ...             NaN
1  [{'location': [82.8, 54.0], 'player': {'id': 1...             NaN
2  [{'location': [101.6, 41.7], 'player': {'id': ...             NaN
3  [{'location': [112.6, 52.3], 'player': {'id': ...            True
4  [{'location': [103.1, 42.1], 'player': {'id': ...             NaN

  first_time deflected aerial_won open_goal saved_off_target saved_to_post  \
0        NaN       NaN        NaN       NaN              NaN           NaN
1        NaN       NaN        NaN       NaN              NaN           NaN
2        NaN       NaN        NaN       NaN              NaN           NaN
3        NaN       NaN        NaN       NaN              NaN           NaN
4        NaN       NaN        NaN       NaN              NaN           NaN

  redirect
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

In [106]:
len(temp_column.columns)

2

In [92]:
shot_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2223 entries, 0 to 2222
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2223 non-null   object
 1   index            2223 non-null   int64
 2   period           2223 non-null   int64
 3   timestamp        2223 non-null   datetime64[ns]
 4   minute           2223 non-null   int64
 5   second           2223 non-null   int64
 6   type             2223 non-null   object
 7   possession       2223 non-null   int64
 8   possession_team  2223 non-null   object
 9   play_pattern     2223 non-null   object
 10  team             2223 non-null   object
 11  duration         2223 non-null   float64
 12  tactics          0 non-null      object
 13  related_events   2223 non-null   object
 14  player           2223 non-null   object
 15  position         2223 non-null   object
 16  location         2223 non-null   object
 17  pass             0 non-null      object
 18  carry            0 non-null      object
 19  under_pressure   460 non-null    float64
 20  ball_receipt     0 non-null      object
 21  counterpress     0 non-null      float64
 22  duel             0 non-null      object
 23  out              38 non-null     float64
 24  clearance        0 non-null      object
 25  dribble          0 non-null      object
 26  miscontrol       0 non-null      object
 27  off_camera       8 non-null      float64
 28  shot             2223 non-null   object
 29  goalkeeper       0 non-null      object
 30  ball_recovery    0 non-null      object
 31  interception     0 non-null      object
 32  foul_won         0 non-null      object
 33  block            0 non-null      object
 34  foul_committed   0 non-null      object
 35  substitution     0 non-null      object
 36  injury_stoppage  0 non-null      object
 37  bad_behaviour    0 non-null      object
 38  50_50            0 non-null      object
 39  half_start       0 non-null      object
 40  half_end         0 non-null      object
dtypes: datetime64[ns](1), float64(5), int64(5), object(30)
memory usage: 712.2+ KB

In [26]:
training_frame = shot_events

In [27]:
shot_rows

      id  name
114   16  Shot
261   16  Shot
641   16  Shot
704   16  Shot
869   16  Shot
953   16  Shot
1384  16  Shot
1394  16  Shot
1522  16  Shot
1538  16  Shot
1583  16  Shot
1669  16  Shot
1762  16  Shot
1865  16  Shot
2030  16  Shot
2087  16  Shot
2100  16  Shot
2166  16  Shot
2311  16  Shot
2369  16  Shot
2673  16  Shot