In [4]:
import pandas as pd
import os
path = os.getcwd() + "/data/tromso/2013-11-03_tromso_stromsgodset_raw_first.csv"
first_half = pd.read_csv(path)

In [5]:
first_half.head()

,2013-11-03 18:01:09.002174,9,32.2538,12.7243,0.23475,0,254.04,0.1,329.554
0,2013-11-03 18:01:09.006261,13,21.1081,17.6180,1.413400,1.741270,202.250,0.907549,241.842
1,2013-11-03 18:01:09.007529,14,28.5255,17.5359,1.640910,-3.038100,190.648,0.572368,241.965
2,2013-11-03 18:01:09.027034,10,45.2474,14.4618,1.129020,0.000000,342.244,0.000000,349.529
3,2013-11-03 18:01:09.028946,8,28.5504,39.5494,0.927515,2.527040,304.319,1.060790,250.349
4,2013-11-03 18:01:09.030682,5,35.5428,30.3117,1.040150,-0.170872,364.374,0.644301,297.906

In [6]:
first_half.head()

,2013-11-03 18:01:09.002174,9,32.2538,12.7243,0.23475,0,254.04,0.1,329.554
0,2013-11-03 18:01:09.006261,13,21.1081,17.6180,1.413400,1.741270,202.250,0.907549,241.842
1,2013-11-03 18:01:09.007529,14,28.5255,17.5359,1.640910,-3.038100,190.648,0.572368,241.965
2,2013-11-03 18:01:09.027034,10,45.2474,14.4618,1.129020,0.000000,342.244,0.000000,349.529
3,2013-11-03 18:01:09.028946,8,28.5504,39.5494,0.927515,2.527040,304.319,1.060790,250.349
4,2013-11-03 18:01:09.030682,5,35.5428,30.3117,1.040150,-0.170872,364.374,0.644301,297.906